.card-container {
  width: 250px;
  height: 150px;

  position: relative;

  border-radius: 10px;

  //background
  // background-image: url("../../../assets/cards/lifting-weight.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// .card-container-img {
//   position: absolute;
//   top: 0;
//   right: 0;
// }

ion-icon {
  --ionicon-stroke-width: 16px;
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

.card-content {
  height: 100%;
  display: flex;
  opacity: 100%;
}

.new {
  justify-content: center;
  align-items: center;
}

.normal {
  justify-content: flex-end;
  align-items: flex-end;
}

.textos {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: flex-start;
}

.card-label {
  font-weight: 400;
  font-size: 0.7rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  text-transform: uppercase;
}

.backdrop-filter {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.685);
  opacity: 0.8;
}
