<ion-button
  fill="clear"
  class="card-container"
  [style.backgroundImage]="img_path ? 'url(' + img_path + ')' : ''"
>
  <!-- <img
    src="../../../assets/cards/lifting-weight.jpg"
    alt="background image from button"
    width="250px"
    height="150px"
    class="card-container-img z-2"
  /> -->
  <div [class]="type === 'new' ? 'card-content new' : 'card-content normal'">
    <div *ngIf="type === 'new'" class="backdrop-filter z-2"></div>
    <ion-icon
      slot="icon-only"
      *ngIf="icon && type === 'new'"
      [name]="icon"
      color="light"
      class="z-20"
      style="width: 50px; height: 50px; padding-right: 10px"
    />
    <div class="textos">
      <ion-text color="primary" class="card-label z-20" *ngIf="label">{{
        label
      }}</ion-text>
      <ion-text color="light" class="card-title z-20" *ngIf="title">{{
        title
      }}</ion-text>
    </div>
  </div>
</ion-button>
