<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <!-- Menu start -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content color="secondary">
        <ion-list id="inbox-list">
          <ion-list-header
            ><ion-text class="header-title mb-2" >Menu</ion-text></ion-list-header
          >

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of menuItens; let i = index"
          >
            <ion-item
              color="black"
              routerDirection="root"
              [routerLink]="p.url"
              [disabled]="p.disable"
              routerLinkActive="selected"
              lines="primary"
              detail="false"
            >
              <ion-label>{{ p.title }}</ion-label>
              <ion-badge *ngIf="p.disable" color="primary">em breve</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Page route start -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
