/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/**
 * Google fonts import style and full axis weight
 */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/**
 * Additional global modifications
 */

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Oswald", sans-serif;
}

p {
  margin: 0;
  padding: 5px 0;
}

.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.z-0 {
  z-index: 0;
}
.z-2 {
  z-index: 2;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}
//custom vars margin top
.mt-2 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-6 {
  margin-top: 2rem;
}
.mt-8 {
  margin-top: 2.5rem;
}
//custom vars margin left
.ml-2 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-6 {
  margin-left: 2rem;
}
.ml-8 {
  margin-left: 2.5rem;
}
//custom vars margin right
.mr-2 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mr-6 {
  margin-right: 2rem;
}
.mr-8 {
  margin-right: 2.5rem;
}
//custom vars margin top
.mb-2 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-6 {
  margin-bottom: 2rem;
}
.mb-8 {
  margin-bottom: 2.5rem;
}
//custom margin y axis
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
//custom padding y axis
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
