<div class="header">
  <ion-toolbar>
    <div class="toolbar-container">
      <!-- menu button start -->
      <ion-buttons>
        <ion-menu-button />
      </ion-buttons>
      <!-- title or img start -->
      <ion-text>title</ion-text>
      <!-- notification button start -->
      <ion-button
        shape="round"
        slot="end"
        color="dark"
        class="black-color ion-activatable"
      >
        <ion-icon
          slot="icon-only"
          name="notifications"
          size="small"
          color="primary"
        />
      </ion-button>
    </div>
    <!-- avatar section start -->
    <div class="avatar-container">
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <div>
        <p class="avatar-name">Leonardo Santos</p>
        <ion-text color="tertiary">label</ion-text>
      </div>
    </div>
  </ion-toolbar>
</div>
<!-- principal content start -->
<ion-content [fullscreen]="true">
  <div class="content-section">
    <p class="content-title">Personal online</p>
    <div class="carousel-container">
      <app-card
        *ngFor="let slide of slidesPersonal"
        [title]="slide.title"
        [label]="slide.label"
        [icon]="slide.icon"
        [type]="slide.type"
      />
    </div>
  </div>
  <div class="content-section">
    <p class="content-title">Programas</p>
    <div class="carousel-container">
      <app-card
        *ngFor="let slide of slidesTreinos"
        [title]="slide.title"
        [label]="slide.label"
      />
    </div>
  </div>
  <div class="content-section">
    <p class="content-title">Conteúdos</p>
    <!-- <div class="carousel-container">
      <app-card
        *ngFor="let slide of slides"
        [title]="slide.title"
        [label]="slide.label"
        class="carousel-item"
      />
    </div> -->
  </div>
</ion-content>
