ion-header {
  --background: #202020;
}

ion-toolbar {
  padding: 10px 20px;
  border-radius: 0 0 50px 50px;
}

.header {
}

.carousel-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
