ion-toolbar {
  padding: 5px 20px;
  // border-radius: 0 0 50px 50px;

  @media only screen and (max-width: 768px) {
    border-radius: 0 0 50px 50px;
  }
}

.content-section {
  margin: 40px 0 40px 40px;
}

.toolbar-container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar-container {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-name {
  font-size: 20px;
}

.content-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-x: scroll;
}
