<div class="header">
  <ion-toolbar>
    <div class="toolbar-container">
      <!-- menu button start -->
      <ion-buttons>
        <ion-menu-button />
      </ion-buttons>
      <!-- title or img start -->
      <p>title</p>
      <!-- notification button start -->
      <ion-button shape="round" slot="end" class="black-color">
        <ion-icon
          slot="icon-only"
          name="notifications"
          size="small"
          class="orange-color"
        />
      </ion-button>
    </div>
    <!-- avatar section start -->
    <div class="avatar-container">
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <div>
        <p>name</p>
        <small class="purple-color">label</small>
      </div>
    </div>
  </ion-toolbar>
</div>
<!-- principal content start -->
<ion-content [fullscreen]="true">
  <div class="carousel-container">
    <div>carousel 1</div>
    <div>carousel 2</div>
    <div>carousel 3</div>
    <app-card />
  </div>
</ion-content>
